@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-just {
    @apply flex justify-center;
  }

  .row-border-full {
    @apply border-2 border-gray-400;
  }

  .row-border-b {
    @apply border-b-2 border-gray-400;
  }

  .row-border-t {
    @apply border-t-2 border-gray-400;
  }
}

* {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}
